@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (Model.ShowRequestId)
{
    <p class="text-danger">
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    @Model.ErrorMessage
</p>